<div style="position: relative;">
	<div
	  div id="map" style="height: 100vh;"
	  data-markers="<%= @markers.to_json %>"
	></div>
	<h1>Resumo da solicitação</h1>
  <div class="px-3" id='trips-new'>

    <div class="lower-section section-divider">
      <!-- colocar hidden quando encontrar o guincho! Verificar _divider.scss linha 24 -->
      <span class="ouro ouro3 divider-position" id='rotating-gif'>
        <span class="left"><span class="anim"></span></span>
        <span class="right"><span class="anim"></span></span>
      </span>
      <!--  -->
    </div>

    <div class="container" id="searching">          
      <div class="stats">
        <ul>
          <li>
            <p class="heading">Distância</p>
            <p class="footing"><%= @distance %> Km</p>
          </li>
          <li>
            <p class="heading"><strong>Valor</strong></p>
            <p class="footing">R$ <%= @price %></p>
          </li>
        </ul>
    </div>
    <div class="stats" id="infos-winch">
      <ul>
        <li>
          <p class="heading">Cliente</p>
          <p class="footing" id="winch-user-name"> <%= "#{@trip.car.user.first_name} #{@trip.car.user.last_name}" %> </p>
        </li>
        <li>
          <p class="heading">Veículo</p>
          <p class="footing" id="time"><%= "#{@trip.car.brand} #{@trip.car.model}" %></p>
        </li>
        <li>
          <p class="heading"><strong>Placa</strong></p>
          <p class="footing" id="winch-plate"><%= @trip.car.plate %></p>
        </li>
      </ul>
    </div>

    <!-- Cards com as informações do usuário -->
    <div class="d-flex align-items-center justify-content-center btn-block rounded-pill">
      <p class="h6 mr-2">Atendimento por</p>
      <p class="h6"><%= "#{@trip.winch.user.first_name} #{@trip.winch.user.last_name}" %></p>
    </div>

    <div class="stats" id="infos-user" hidden>
      <ul>
        <li>
          <p class="heading">Veículo</p>
          <p class="footing"> <%= "#{@trip.car.model}" %> </p>
        </li>
        <li>
          <p class="heading">Endereço</p>
          <p class="footing" id="time"> <%= @trip.dest_address %></p>
        </li>
        <li>
          <p class="heading"><strong>Placa</strong></p>
          <p class="footing" id="winch-plate">
            <% if @trip.winch == nil %>
              Winch Plate
            <% else %>
              <%= @trip.winch.plate %>
            <% end %>
          </p>
        </li>
      </ul>
    </div>
<!-- um comentario do nada -->
	  </div>
	</div>
