<div class="container mt-3" id='trips-new'>
	<div class="map d-flex align-items-end justify-content-center" style="width: 100%; height: 500px; background-color: black">
		<div class="mb-3" style="width: 800px">
			<%= simple_form_for @trip do |f| %>
				<%= f.input :address, input_html: { class: 'form-control w-100', placeholder: 'Endereço', id: 'address' }, label: false, required: true  %>
				<%= f.input :car_lat, as: :hidden, input_html: { id: 'lat' }, label: false %>
				<%= f.input :car_long, as: :hidden, input_html: { id: 'long' }, label: false %>
				<%= f.button :submit, 'Buscar guincho', class: 'btn btn-success btn-block' %>
			<% end %>
		</div>
	</div>
</div>
