<div style="position: relative;">
	<div id="map" style="height: 100vh;"></div>
	<div class="" id="trips-info">
		<div class="px-3" id='trips-new'>

			<div class="lower-section section-divider"></div>
			<%= simple_form_for @trip do |f| %>
				<%= f.input :dest_address, input_html: { class: 'mt-2 rounded-pill border-0 bg-light',
										placeholder: 'Endereço do destino', id: 'dest-address' },
										label: false, required: true  %>

				<%= f.input :car_address, as: :hidden,
										input_html: { class: 'form-control w-100',
										placeholder: 'Endereço atual', id: 'car-address' },
										label: false, required: true  %>

				<%= f.input :car_lat, as: :hidden, input_html: { id: 'car-lat' }, label: false %>
				<%= f.input :car_long, as: :hidden, input_html: { id: 'car-long' }, label: false %>
				<%= f.input :total_distance, as: :hidden, input_html: { id: 'total-distance' }, label: false %>
				<%= f.input :total_price, as: :hidden, input_html: { id: 'total-price' }, label: false %>
				<%= f.input :car, as: :hidden, input_html: { value: current_user.cars.first }, label: false %>

				<%= f.button :submit, 'Buscar guincho', class: 'mt-3 btn-primary btn-block rounded-pill', id: 'search-btn' %>

				<div class="mt-3 d-flex flex-column justify-content-around align-items-center" id='searching-winches'>

					<!-- Card Hidden na página inicial e Visivel na página confirmar trip (trip-info-card) -->
					<div class="container p-0" id="trip-info-card">          
		        <div class="stats">
		          <ul>
		            <li>
		              <p class="heading" >Distância</p>
		              <p class="footing" id="distance">10,03 Km</p>
		            </li>
		            <li>
		              <p class="heading">Tempo</p>
		              <p class="footing">90 min.</p>
		            </li>
		            <li>
		              <p class="heading"><strong>Valor</strong></p>
		              <p class="footing" id="price">R$ 130</p>
		            </li>
		          </ul>
		        </div>
						<%= f.button :submit, 'Confirmar', class: 'mt-3 btn-primary btn-block rounded-pill', id: 'confirm-btn'%>
		      </div>
		      <!--  -->

				</div>
			<% end %>

		</div>
	</div>
</div>
