<div style="position: relative;">

  <!-- mapa -->
  <div
    div id="map" style="height: 100vh;"
    data-markers="<%= @markers.to_json %>"
  ></div>
  <!--  -->

  <!-- status da trip (sempre hidden) -->
  <div id="status" hidden><%= @trip.status %></div>
  <div id="car-lat" hidden><%= @trip.car_lat %></div>
  <div id="car-long" hidden><%= @trip.car_long %></div>
  <div id="win-lat" hidden></div>
  <div id="win-long" hidden></div>
  <!--  -->

  <!-- Searching que aparece enquanto nenhum guincho aceitou-->
  <div id="trips-info">
    <div class="px-3" id='trips-new'>

      <div class="lower-section section-divider">
        <!-- colocar hidden quando encontrar o guincho! Verificar _divider.scss linha 24 -->
        <span class="ouro ouro3 divider-position" id='rotating-gif'>
          <span class="left"><span class="anim"></span></span>
          <span class="right"><span class="anim"></span></span>
        </span>
        <!--  -->
      </div>

      <div class="container" id="searching">          
        <div class="stats">
          <ul>
            <li>
              <p class="heading">Distância</p>
              <p class="footing"><%= @distance  %> Km</p>
            </li>
            <li>
              <p class="heading"><strong>Valor</strong></p>
              <p class="footing">R$ <%= @price %></p>
            </li>
          </ul>
          <div class="info-btn">
            <p class="my-0 mr-4">Buscando Guinchos</p>
            <svg id="rotating-gif" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
              <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite"
                  begin="0.1"/>    
              </circle>
              <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite" 
                  begin="0.2"/>       
              </circle>
              <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite" 
                  begin="0.3"/>     
              </circle>
            </svg>          
          </div>
        </div>
      </div>
      <div class="stats" id="infos-winch">
        <ul>
          <li>
            <p class="heading">Motorista</p>
            <p class="footing" id="winch-user-name"> winch.user.first_name </p>
          </li>
          <li>
            <p class="heading">Tempo</p>
            <p class="footing" id="time">Calculando...</p>
          </li>
          <li>
            <p class="heading"><strong>Placa</strong></p>
            <p class="footing" id="winch-plate">
              <% if @trip.winch == nil %>
                winch plate
              <% else %>
                <%= @trip.winch.plate %>
              <% end %>
            </p>
          </li>
        </ul>
        <div class="info-btn" id='status-winch'>Guincho a Caminho</div>
        <%= link_to 'delivered', delivered_trip_path(@trip), style: 'display: none', id: 'delivered-btn' %>
      </div>
      <!-- Cards com as informações do usuário -->
      <div id="infos-user" hidden>
        <div class="d-flex align-items-center justify-content-center">
          <p class="h6 mr-2">Solicitação de</p>
          <p class="h4"><%= "#{@trip.car.user.first_name} #{@trip.car.user.last_name}" %></p>
        </div>
        <div class="stats">
          <ul>
            <li>
              <p class="heading">Veículo</p>
              <p class="footing"> <%= "#{@trip.car.model}" %> </p>
            </li>
            <li>
              <p class="heading">Endereço</p>
              <p class="footing" id="time"> <%= @trip.dest_address %></p>
            </li>
            <li>
              <p class="heading"><strong>Placa</strong></p>
              <p class="footing" id="winch-plate">
                <% if @trip.winch == nil %>
                  Winch Plate
                <% else %>
                  <%= @trip.winch.plate %>
                <% end %>
              </p>
            </li>
          </ul>
  <!--         <div class="d-flex justify-content-around align-items-center">
            <div class="user-name">
              <h2><%= "#{@trip.car.user.first_name} #{@trip.car.user.last_name}" %></h2>
            </div>
            <div class="car-info">
              <p><%= "#{@trip.car.brand} #{@trip.car.model}" %></p>
              <p><%= @trip.car.plate %></p>
            </div>
            <p><%= @trip.dest_address %></p>
          </div> -->

          <!-- btn para guincho avisar que chegou -->
          <div id="arrived-btn">
            <%= simple_form_for @trip, remote: true do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'arrived' } %>
              <%= f.button :submit, 'Cheguei ao destino', class: ' btn btn-primary btn-block rounded-pill '%>
            <% end %>
          </div>
          <!--  -->
          <!-- btn para guincho avisar que terminou o serviço -->
          <div id='delivered' hidden>
            <%= simple_form_for @trip do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'delivered' } %>
              <%= f.button :submit,'Carro entregue ao destino correto', class: ' btn btn-success btn-block rounded-pill ' %>
            <% end %>
          </div>
          <!--  -->
        </div>
      </div>
      <!-- Cards info user -->
    </div>
  </div>
  <!--  -->

</div>
  
<% content_for :after_js do %>
  <script>
    App['trip_<%= @trip.id %>'] = App.cable.subscriptions.create(
      { channel: 'TripsChannel', trip_id: <%= @trip.id %> },
      { received: (data) => {
          document.querySelector('#rotating-gif').hidden = true
          document.querySelector('#searching').hidden = true

          <% if current_user == @trip.user %>
            document.querySelector('#infos-winch').hidden = false
            const status = document.querySelector('#status')
            if (data['locals']['status'] === 'arrived' && status.innerText === 'on the way') {
              alert('Seu guincho chegou!')
            }
            document.querySelector('#infos-winch').hidden = false
            status.innerText = data['locals']['status']
            document.querySelector('#winch-user-name').innerText = data['winch']['name']
            document.querySelector('#winch-plate').innerText = data['winch']['plate']
          // console.log(data);
            updateUserMap(data['locals']['lat'], data['locals']['lng'], data['locals']['status'])

            
            if (data['locals']['status'] === 'delivered') {
              // console.log(data['locals']['status'])
              if (confirm('O guincheiro finalizou o serviço!')) {
                window.location.href = "<%= delivered_trip_path(@trip) %>"
              } else {
                window.location.href = "<%= delivered_trip_path(@trip) %>"
              }
            }
          <% end %>

        } 
      }
    );

    <% unless current_user == @trip.user %>
      setInterval(()=>{
        navigator.geolocation.getCurrentPosition(updateMap)
        const markers = eval(document.querySelector('#map').dataset.markers);
        const hidden = document.querySelector('#arrived-btn').hidden;
        // console.log(document.querySelector('#status').innerText)
        const name = document.querySelector('#winch-user-name').innerText
        const plate = document.querySelector('#winch-plate').innerText
        const status = document.querySelector('#status').innerText
        const url = "<%= trip_win_loc_path(@trip.id) %>";
        
        console.log(markers.length === 3)
        if (markers.length === 3) {
          fetch(`${url}?lat=${markers[2]['lat']}&lng=${markers[2]['lng']}&status=${status}&name=${name}&plate=${plate}`);
        } else if (status === 'arrived'){
          fetch(`${url}?lat=${markers[1]['lat']}&lng=${markers[1]['lng']}&status=${status}&name=${name}&plate=${plate}`);

        }

        // console.log("info sent");
      }, 10000);
    <% end %>

    <% if current_user == @trip.car.user %>
      if (document.querySelector('#winch-plate').innerText !== 'winch plate') {
        document.querySelector('#rotating-gif').hidden = true
        document.querySelector('#searching').hidden = true
        document.querySelector('#status').innerText = 'on the way'
      } else {
        document.querySelector('#infos-winch').hidden = true
      }
    <% else %>
      document.querySelector('#rotating-gif').hidden = true
      document.querySelector('#searching').hidden = true
      document.querySelector('#infos-user').hidden = false
      document.querySelector('#infos-winch').hidden = true
      const name = '<%= "#{current_user.first_name} #{current_user.last_name}" %>'
      document.querySelector('#winch-user-name').innerText = name
      document.querySelector('#winch-plate').innerText = '<%= @trip.winch.plate %>'
      if (document.querySelector('#status').innerText === 'arrived') {
        document.querySelector('#arrived-btn').hidden = true
        document.querySelector('#delivered-btn').hidden = false
      }
    <% end %>
  </script>
<% end %>
