<div class="container">
  <div class="align-items-center">
    <div class="col-sm-12 offset-md-3 col-md-6 text-primary">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <p class="h3 mt-2 pt-5 mb-5" style="margin-bottom: 3vh">Atualize seu <strong>cadastro</strong> abaixo:</p>
        <%= f.error_notification %>
        <%= f.input :email, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "rounded-pill pl-4 border-0" }, label: 'E-mail' %>
        <%= f.input :password, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    hint: "Mantenha vazio caso não queira alterar sua senha",
                    required: false,
                    input_html: { autocomplete: "nova-senha", class: "rounded-pill pl-4 border-0" }, label: 'Nova senha' %>
        <%= f.input :password_confirmation, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    required: false,
                    input_html: { autocomplete: "nova-senha", class: "rounded-pill pl-4 border-0" }, label: 'Confirme sua nova senha' %>
        <%= f.input :current_password, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    hint: "Coloque sua senha atual para validar as alterações",
                    required: true,
                    input_html: { autocomplete: "senha-atual", class: "rounded-pill pl-4 border-0" }, label: 'Senha atual' %>
        <%= f.button :submit, "Atualizar" , class: "mb-5 mt-3 btn-primary btn-block rounded-pill"%>
      <% end %>
<!--
<p>Insatisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza que deseja cancelar sua conta?" }, method: :delete %></p>

<%= link_to "Voltar", :back %> -->

<!--         <div class="row justify-content-center" style="height: 15vh">
          <div class="d-flex align-self-center text-secondary">
              <p class="small mr-2 font-weight-lighter">Insatisfeito?</p>
              <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza que deseja cancelar sua conta?" }, method: :delete, :class => 'small mr-2 align-self-center font-weight-bolder text-secondary' %><br />
          </div>
        </div> -->
    </div>
  </div>
</div>
