<div class="container">
  <div class="align-items-center">
    <div class="col-sm-12 offset-md-3 col-md-6 text-primary">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p class="h3 mt-2 pt-5 mb-5" style="margin-bottom: 3vh">Por favor, faça seu <strong>cadastro</strong> abaixo:</p>
        <%= f.error_notification %>
        <%= f.input :email, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "rounded-pill pl-4 border-0" }, label: 'E-mail' %>
        <%= f.input :password, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    required: true,
                    hint: ("No mínimo #{@minimum_password_length} caracteres" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "rounded-pill pl-4 border-0" }, label: 'Senha' %>
        <%= f.input :password_confirmation, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    required: true,
                    input_html: { autocomplete: "new-password", class: "rounded-pill pl-4 border-0" }, label: 'Confirmação de Senha' %>
        <%= f.input :photo, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "pl-4" }, label: 'Foto' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, "Acessar" , class: "mt-3 btn-primary btn-block rounded-pill"%>
        <% end %>
        <div class="row justify-content-center" style="height: 15vh">
          <div class="d-flex align-self-center text-secondary">
            <%- if controller_name != 'sessions' %>
              <p class="small mr-2 font-weight-lighter">Já tem conta?</p>
              <%= link_to "Clique aqui", new_session_path(resource_name), :class => 'small mr-2 align-self-center font-weight-bolder text-secondary' %><br />
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>


