<div class="bg">
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 offset-md-3 col-md-6 text-primary">
        <div class="container">
          <h2 class="mt-5 pt-5 mb-3 ml-4"><strong>Editar meu <%= @winch.brand %> - <%= @winch.winch_type %></strong></h2>

            <%= simple_form_for @winch, method: 'patch', url: winch_winch_path(@winch) do |f| %>
              <%= f.error_notification %>
              <%= f.input :brand, collection: @brands, label_html: { class: 'font-weight-bolder ml-4 text-black-50 '},
                          input_html: { class: "rounded-pill pl-4 border-0 select2", id: 'brand-select' } %>
              <%= f.input :model, collection: @models, label_html: { class: 'font-weight-bolder ml-4 text-black-50 '},
                          input_html: { class: "rounded-pill pl-4 border-0 select2" } %>
              <%= f.input :winch_type, collection: ["Carro", "Caminhao","Moto"], label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                          input_html: { class: "rounded-pill pl-4 border-0 select2 " } %>
              <%= f.input :plate, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                          input_html: { class: "rounded-pill pl-4 border-0 ", onkeyup:"this.value = this.value.toUpperCase();" } %>
              <%= f.button :submit, class: "btn-secondary btn-block rounded-pill"  %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
