<div class="bg">
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 offset-md-3 col-md-6 text-primary">
        <div class="container">
          <h2 class="mt-5 pt-5 mb-3 ml-4"><strong>Adicionar Guincho</strong></h2>
          <div>
            <%= simple_form_for @winch, url: winch_winches_path, method: 'post' do |f| %>
              <%= f.error_notification %>
              <%= f.input :brand, label: "Marca", label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                          input_html: { class: "rounded-pill pl-4 border-0", id: 'brand-select' } %>

              <%= f.input :winch_type, label: "Tipo de Guincho", label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                          input_html: { class: "rounded-pill pl-4 border-0" } %>

              <%= f.input :plate, label: "Placa", label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                          input_html: { class: "rounded-pill pl-4 border-0", onkeyup:"this.value = this.value.toUpperCase();" } %>

              <%= f.button :submit, class: "btn-secondary btn-block rounded-pill", value: "Criar Guincho" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<h2 class="mt-5 pt-5 mb-3 ml-4"><strong><%= link_to "Voltar", winches_path %></strong></h2>

