<div style="position: relative;">
	<div id="map" style="height: 100vh;" data-markers="<%= @markers.to_json %>"></div>

	<!-- Card com as infos do cliente e da corrida -->
	<div class="container bg-white">

		<div class="lower-section section-divider"></div>
		<div class="d-flex m-0 align-items-center justify-content-center">
	  	<p class="h6 mr-2">Solicitação de</p>
			<p class="h4"><%= "#{@request.trip.user.first_name} #{@request.trip.user.last_name}" %></p>
		</div>

    <div class="stats" id="trip-request-show">
			<div class="container p-0" id="trip-info-card">       
	      <ul>
	        <li>
	          <p class="heading" >Veículo</p>
	          <p class="footing" id="car-brand-model">Ford Focus</p>
	        </li>
	        <li>
	          <p class="heading">Tipo</p>
	          <p class="footing">Hatch</p>
	        </li>	        
	        <li>
	          <p class="heading">Valor</p>
	          <p class="footing">R$ 84</p>
	        </li>
	        <li>
	          <p class="heading"><strong>Placa</strong></p>
	          <p class="footing" id="price">KDD-2121</p>
	        </li>
	      </ul>
	    </div>
	  </div>

		<%= simple_form_for @trip do |f| %>
			<%= f.input :winch_id, as: :hidden, input_html: { value: @request.winch.id } %>
			<%= f.input :win_init_lat, as: :hidden, input_html: { value: @request.winch.win_lat, id: 'win-lat' } %>
			<%= f.input :win_init_long, as: :hidden, input_html: { value: @request.winch.win_long, id: 'win-lng' } %>
			<%= f.button :submit, 'Aceitar solicitação', class: 'info-btn btn-sucess' %>
		<% end %>

	</div>
  <!--  -->

</div>

<% content_for :after_js do %>
  <script>
  	setRequestGeo = (position) => {
		const lat = position.coords.latitude;
		const lng = position.coords.longitude;
		console.log(position);
		document.querySelector('#win-lat').value  = lat;
		document.querySelector('#win-lng').value  = lng;
	}
	navigator.geolocation.getCurrentPosition(setRequestGeo);
  </script>
<% end %>
