<h1>Pages#home</h1>
<p>Winches Index</p>

<div class="bg">
  <div class="container">
    <div class="text-primary">
      <div class="cards">

        <% @winches.each do |winch| %>

          <div class="card-trip m-2">
            <%= link_to winch_path(winch), class:"btn" do %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj85G1Zl_5aj8CG-FYz79H0nsLghX4IkVcJJ5y80yyTkpn6cXk&s"/>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h4 class="card-title block-with-text mb-2"><%= winch.brand %> </h4>
                <p class="card-text mr-2"><%= winch.winch_type %> </p>
                <h2 class="card-trip-pricing text-secondary mt-2"><%= winch.plate %></h2>
              </div>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
            </div>
          </div>

        <% end %>
      </div>
    </div>
      <%= link_to "Criar Guincho", new_winch_winch_path(@winch) %>
  </div>
</div>
