<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= check_navbar(params) %>">
  <div class="container">
      <%= link_to winches_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler border-0 d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <% if current_user.winch %>
          <%= link_to "Meus Guinchos", user_winches_path(current_user), class: "nav-link text-secondary mr-2" unless current_user.winches.empty?%>
          <%= link_to "Novo Guincho", new_user_winch_path(current_user), class: "nav-link text-secondary mr-2" %>
          <%= link_to "Minhas Viagens", trips_path, class: "nav-link text-secondary mr-2" %>
          <%= link_to "Nova Viagem", root_path, class: "nav-link text-secondary mr-2" %>
          <%= link_to "Editar meu perfil", edit_user_registration_path(current_user), class: "nav-link text-secondary mr-2" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-secondary mr-2" %>
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle d-sm-block d-none", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false   %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle d-sm-block d-none", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

        <% else %>
          <%= link_to "Meus Carros", user_cars_path(current_user), class: "nav-link text-secondary mr-2" unless current_user.cars.empty?%>
          <%= link_to 'Novo Carro', new_user_car_path(current_user, @car), class: "nav-link text-secondary mr-2" %>
          <%= link_to "Meus Sinistros", trips_path, class: "nav-link text-secondary mr-2" %>
          <%= link_to "Novo Sinistro", new_trip_path, class: "nav-link text-secondary mr-2" %>
          <%= link_to "Editar meu perfil", edit_user_registration_path(current_user), class: "nav-link text-secondary mr-2" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-secondary mr-2" %>
          <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle d-sm-block d-none", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false   %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle d-sm-block d-none", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "text-secondary nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
