<div class="container mt-3">
  <div class="align-items-center">
    <div class="col-sm-12 offset-md-3 col-md-6 text-primary">

      <%= simple_form_for @winch, method: 'patch', url: user_winch_path([current_user, @winch]) do |f| %>
      <p class="h3 mt-5 pt-5 mb-5" style="margin-bottom: 3vh">Altere as informações do seu <strong>guincho</strong> abaixo!</p>
        <%= f.error_notification %>
        <%= f.input :brand, collection: @brands, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2", id: 'brand-select' }, label: 'Marca' %>
        <%= f.input :model, collection: @models, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2" }, label: 'Modelo' %>
        <%= f.input :winch_type, collection: ["Carro", "Caminhao","Moto"], label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2 " }, label: 'Tipo de guincho' %>
        <%= f.input :plate, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "rounded-pill pl-4 border-0", onkeyup:"this.value = this.value.toUpperCase();" }, label: 'Placa' %>
        <%= f.button :submit, "Atualizar", class: "mt-3 btn-primary btn-block rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>
