<div class="bg">
  <div class="container">
    <div class="text-primary">
      <div class="cards">
        <% @winches.each do |winch| %>
          <% if winch.visible %>
            <div class="card-trip m-2">
              <%= link_to user_winch_path(current_user, winch), class:"a border-0 image-hoveffect-zoomlong" do %>
                <div class="card-category" >
                  <%= image_tag "guincho2.jpg"  %>
                </div>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h4 class="card-title block-with-text mb-2"><%= winch.model %> </h4>
                  <p class="card-text mr-2"><%= winch.brand %> </p>
                  <div class="d-flex justify-content-between" style="width: 100%">
                    <h2 class="card-trip-pricing text-secondary"><%= winch.plate %></h2>
                    <%= link_to user_winch_path(current_user, winch), method: 'delete', :data => {:confirm => "You Sure?"} do %>
                      <i class="icon-trash"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



