<div class="card-trip m-2">
  <div class="card-category" >
    <%= image_tag "guincho2.jpg" %>
  </div>
</div>
<div class="">
  <ul class="list-values">
    <li>
        <span class="list-values-option">Marca</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @winch.brand %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Modelo</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @winch.model %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Tipo</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @winch.winch_type %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Placa</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @winch.plate %></span>
        </div>
    </li>
    <div class= "bt">
      <%= link_to "Editar", edit_user_winch_path(current_user, @winch), class:"mt-3 buttom btn-primary btn-block rounded-pill  " %>
      <%= link_to "Voltar", user_winches_path(current_user), class:"mt-3  btn-block text-center font-weight-bold" %>
    </div>
  </ul>
</div>


