<div class="container mt-3">
  <div class="align-items-center">
    <div class="col-sm-12 offset-md-3 col-md-6 text-primary">

      <%= simple_form_for([current_user, @car]) do |f| %>
      <p class="h3 mt-5 pt-5 mb-5" style="margin-bottom: 3vh">Altere os dados de seu <strong>carro</strong></p>
        <%= f.error_notification %>
        <%= f.input :brand, collection: @brands, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2", id: 'brand-select' } %>
        <%= f.input :model, collection: @models, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2" } %>
        <%= f.input :car_type, collection: ["Cupe", "Crossover","Seda", "Hatch", "Picape", "Perua", "SUV"], label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "select2 " } %>
        <%= f.input :plate, label_html: { class: 'text-secondary font-weight-bolder ml-4'},
                    input_html: { class: "rounded-pill pl-4 border-0", onkeyup:"this.value = this.value.toUpperCase();" } %>
        <%= f.button :submit, class: "btn-secondary btn-block rounded-pill"  %>
      <% end %>

    </div>
  </div>
</div>
