<div class="bg">
  <div class="container">
    <div class="text-primary">
      <div class="cards">
        <% @cars.each do |car| %>
          <% if car.visible %>
            <div class="card-trip m-2">
              <%= link_to user_car_path(current_user, car), class:"a border-0 image-hoveffect-zoomlong" do %>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj85G1Zl_5aj8CG-FYz79H0nsLghX4IkVcJJ5y80yyTkpn6cXk&s"/>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h4 class="card-title block-with-text mb-2"><%= car.model %> </h4>
                  <p class="card-text mr-2"><%= car.brand %> </p>
                  <div class="d-flex justify-content-between" style="width: 100%">
                    <h2 class="card-trip-pricing text-secondary"><%= car.plate %></h2>
                    <%= link_to user_car_path(current_user, car), method: 'delete', :data => {:confirm => "You Sure?"} do %>
                      <i class="icon-trash"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



