<div class="card-category rounded-0" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj85G1Zl_5aj8CG-FYz79H0nsLghX4IkVcJJ5y80yyTkpn6cXk&s">
</div>
<div class="">
  <ul class="list-values">
    <li>
        <span class="list-values-option">Marca</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @car.brand %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Modelo</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @car.model %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Tipo</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @car.car_type %></span>
        </div>
    </li>
    <li>
        <span class="list-values-option">Placa</span>
        <div class="list-values-value-mask">
            <span class="list-values-value"><%= @car.plate %></span>
        </div>
    </li>
    <div class= "bt">
      <%= link_to "Editar", edit_user_car_path(current_user, @car), class:"mt-3 buttom btn-primary btn-block rounded-pill   " %>
      <%= link_to "Voltar", user_cars_path(current_user), class:"mt-3  btn-block text-center font-weight-bold " %>
    </div>
  </ul>
</div>





